<h1>New Game</h1>

<p>Random letters: <%= @letters.join(', ') %></p>

<%= form_with url: score_path, method: :post do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters.join %>
  <%= label_tag :word, "Your word:" %>
  <%= text_field_tag :word %>
  <%= submit_tag "Submit" %>
<% end %>
